/* body{
    background-image:url("/static/img/bg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: cover;
} */

.sg {
    width: 100%;
    margin: 0px;
}

.sign {
    background-image: url("/static/img/tech.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: fit-content;
    background-color: blue;
    font-style: 'Heebo', 'Ramaraja', sans-serif;
    color: black;
    font-size: 25px;
    text-align: center;
    top: 35%;
    left: 20%;
    /* width: 300px; */
    /* position: fixed; */
    padding-bottom: 15px;
    padding-top: 20px;
}

.log {
    background-image: url("/static/img/cyber-security.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: cover;
    /* font-style: oblique; */
    color: black;
    font-size: 25px;
    text-align: center;
    border: 1px outsets black;
    top: 50%;
    left: 39%;
    height: 850px;
    padding-bottom: 15px;
    padding-top: 240px;
}

label {
    display: block;
}

label:hover {
    background: transparents;
}

.log .pass,
.name1 {
    text-align: center;
    color: blue;
    border-radius: 20px;
    margin: 10px;
}

.msg,
.sub {
    color: royalblue;
    /* background-color: white; */
    border-radius: 20px;
    border: 2PX inset black;
    padding: 6px;
}

.msg,
.sub,
.name1:hover {
    background-color: transparent;
    color: black;
}

.pass:hover {
    background-color: transparent;
}

.sub {
    background-color: white;
    margin: 20px 20px 20px 0px;
    border-radius: 20px;
    padding: 6px;
}

.sub:hover {
    background: transparent;
}

.cm {
    text-align: center;
    color: black;
}

.cm:hover {
    background-color: transparent;
}