{% include 'header.html' %}

<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BBA</title>
    <link rel="stylesheet" href="/static/css/programme.css">
</head>

<body> -->
<div class="pgm">
    <div class="mca-head M464">
        <div class="programme">
            <h2 class="PR" style="text-align:center">BBA PROGRAMME</h2>
        </div>
        <div class="para">
            <h5>PIMD</h5>
            <h2>BBA PROGRAMME</h2>
            <hr>
            <P>BBA (Bachelor of Business Administration) is a 3 yrs Full time UG programme, affiliated to Vikram
                University Ujjain. Approved By Higher Education Deptt. MP Govt.</P>
        </div>
        <p class="why"><B>WHY BBA From PIMD :- </B></p>
        <p>
            The program has evolved to meet the growing demand of the corporate sector by honing the soft skills of the
            students and preparing them for future assignments. The curriculum is designed in a holistic way by creating
            synergy between broad based education and development of expertise in area of choice in the main discipline.
            The program meet the needs of MNCs where the students can seek employment. The teaching methodology involves
            case and movie based learning for the students
            to inculcate interest and seeking participation.</p>
        <p class="high"> Institute Highlights</p>
        <ul class="list-course" style="list-style-type:circle" color="blue">

            <li>The Institute is certified
                by International Accreditation Organisation (IAO). </li>
            <li>It is an ISO certified Institution by Accredited by JAS-ANZ [Joint
                Accreditation System of Australia and New Zealand(Accreditation No.
                M464021DIL)] and LMS Certifications Private Limited.</li>
            <li>Helps in preparing their robust ground for all the important managerial activities. It not only teaches
                the course aspects but also the base level change in development of attitude and personality.</li>
            <li>The course provides an opportunity to the student for selecting his own area of interest after studying
                it for 3 years. This course provides golden future in the various Management areas.</li>

            <li>Institute has Industry-Institute Interface. It has an MOU with Association of Industries Dewas (AID) and
                recognized as an authorized centre for training.</li>
            <li>All round development of students through regular seminar, conferences, workshops, Extra Mural Lectures,
                Management & IT Fest</li>
            <li>The faculty members have developed soft skills training programs and Modules on the Concept of Finishing
                school.</li>
            <li>Team of Highly Qualified & Experienced Faculty including Doctorate Degree Holders.</li>
            <li>Course has been framed in keeping in mind industrial revolution occurring in India.</li>
            <li>The course provides the base for the management of all the core areas of business.</li>
            <li>Communication skills & Personality Development for the Programme duration.</li>
            <li>Regular Extra Mural Lectures by Executives from Industries.</li>
            <li>Out of class extra support by Faculties to weak students.</li>
            <li>Free of cost book from library on returnable basis</li>
            <li>Curriculum is according to Industries requirement.</li>
            <li>Regular Classes with 75% compulsory Attendance.</li>
            <li>We ignite attitude within students.</li>
            <li>Ad-on Spoken English & PD courses.</li>
            <li>Unique Internal assessment system.</li>
            <li>More focus on practical training.</li>
            <li>15 years of successful journey.</li>
            <li>GD,PT,Seminar Presentations.</li>
            <li>Industrial Visits.</li>
        </ul>
        <p class="high"> Infrastructural Support</p>
        <ul>
            <li>Institute possess its e-library, and also has membership of Proquest which provide an access to
                the database of 450,000 ebooks.</li>
                <li>Institute has well equipped spacious library with 10036 books,reports and monographs.</li>
                <li>2 Computer Labs with 150 nos. of PCs with latest configuration and TFT monitors</li>
                <li>Subscription of many International and National Journals Hard copy.</li>
                <li>It has Consistent Best Placement Records. Placements @ TCS, WIPRO……</li>
                <li>Library reference section with 100 student seating capacity.</li>
                <li>All classrooms are equipped with LCD Projectors.</li>
                <li>Language Lab for refining English Communication.</li>
                <li>Indoor & Outdoor Sports Facilities.</li>
                <li>Campus is Wi-Fi enabled.</li>
        </ul>
    </div>
</div>
<!-- </body> -->

<!-- {% include 'footer.html' %} -->