{% include 'header.html' %}

<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bca</title>
    <link rel="stylesheet" href="/static/css/programme.css">
</head>

<body> -->
<div class="pgm">
    <div class="bca-head M464">
        <div class="programme">
            <h2 class="PR" style="text-align:center">BCA PROGRAMME</h2>
        </div>
        <div class="para">
            <h5>PIMD</h5>
            <h2>BCA PROGRAMME</h2>
            <hr>
            <P>B.C.A. (Bachelor of Computer Application) is a 3 yrs Full time UG programme affiliated to Vikram University Ujjain. Approved By Higher Education Deptt. MP Govt.</P>
        </div>
        <p class="why">
            <B>WHY BCA From PIMD :- </B>
        </p>
        <p class="high"> Institute Highlights</p>
        <ul style="list-style-type:circle" color="blue">

            <li>This course provides an opportunity for the students to make their future as Software Engineer, Software Architect, System Analyst, Network Administrator, System Administrator, Database Developer, Database Administrator, Computer Programmer,Systems
                Engineer or Computer Expert in various ways. This course provides robust g for the students to make their future in the above stated fields.</li>
            <li>It is an ISO certified Institution by Accredited by JAS-ANZ [Joint Accreditation System of Australia and New Zealand(Accreditation No. M464021DIL)] and LMS Certifications Private Limited.</li>
            <li>Institute has Industry-Institute Interface. It has an MOU with Association of Industries Dewas (AID) and recognized as an authorized centre for training.</li>
            <li>All round development of students through regular seminar, conferences, workshops, Extra Mural Lectures, Management & IT Fest</li>
            <li>The faculty members have developed soft skills training programs and Modules on the Concept of Finishing school.
            </li>
            <li>Major Project on application development for iphone based solution for different organizations, android etc.
            </li>
            <li>Makes students Jobs ready …..Jobs from Computer expert level to Software Architect level.</li>
            <li>Team of Highly Qualified & Experienced Faculty including Doctorate Degree Holders.</li>
            <li>Makes students future ready to get ahead for MCA and other higher end courses.</li>
            <li>Communication skills & Personality Development for the Programme duration.</li>
            <li>The Institute is certified by International Accreditation Organisation (IAO). </li>
            <li>GD, PI, Seminar Presentations and IT Seminar Presentations.</li>
            <li>Regular Extra Mural Lectures by Executives from Industries.</li>
            <li>Out of class extra support by Faculties to weak students.</li>
            <li>Curriculum is according to S/W Industries requirement</li>
            <li>Regular Classes with 75% compulsory Attendance.</li>
            <li>Free of cost book from library on returnable basis</li>
            <li>Curriculum create base for technical mind.</li>
            <li>Provides leverage for software industry.</li>
            <li>Ad-on Spoken English & PD courses.</li>
            <li>More focus on practical training.</li>
            <li>15 years of successful journey.</li>
            <li>Java Certification Programme.</li>
            <li>Industrial Visits.</li>
        </ul>
        <p class="high"> Infrastructural Support</p>
        <ul>
            <li>Institute possess its e-library, and also has membership of Proquest which provide an access to the database of 450,000 ebooks.</li>
            <li>Institute has well equipped spacious library with 10036 books,reports and monographs.</li>
            <li>2 Computer Labs with 150 nos. of PCs with latest configuration and TFT monitors</li>
            <li>It has Consistent Best Placement Records. Placements @ TCS, WIPRO……</li>
            <li>Subscription of many International and National Journals Hard copy.</li>
            <li>Language Lab for refining English Communication.</li>
            <li>Library reference section with 100 student seating capacity.
            </li>
            <li>All classrooms are equipped with LCD Projectors.</li>
            <li>Indoor & Outdoor Sports Facilities.</li>
            <li>Campus is Wi-Fi enabled.</li>
            <li>Enqui re NEo-Bwrochure</li>
            <li></li>

        </ul>
    </div>
</div>

<!-- </body> -->

{% include 'footer.html' %}