{% include 'header.html' %}

<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bcom</title>
    <link rel="stylesheet" href="/static/css/programme.css">
</head>

<body> -->
    <div class="pgm">
        <div class="mca-head M464">
            <div class="programme">
                <h2 class="PR" style="text-align:center">B.COM PROGRAMME</h2>
            </div>
            <div class="para">
                <h5>PIMD</h5>
                <h2>B.COM Computer Application</h2>
                <hr>
                <P>B.Com Computer Apllication is a 3 yrs Full time UG programme, affiliated to Vikram University Ujjain.
                    Approved By Higher Education Deptt. MP Govt.</P>
            </div>
            <p class="high">Why B.Com Computer Application from PIMD </p>
            <P>The main objective of this course is to impart education in the field of commerce at the undergraduate
                level.
                The programme aims at acquainting students with the basic concepts of commerce specially emphasizing
                upon
                key issues of computers.</P>

            <p class="high"> Institute Highlights</p>
            <ul class="list-course" style="list-style-type:circle" color="blue">

                <li>The Institute is certified
                    by International Accreditation Organisation (IAO). </li>
                <li>It is an ISO certified Institution by Accredited by JAS-ANZ [Joint
                    Accreditation System of Australia and New Zealand(Accreditation No.
                    M464021DIL)] and LMS Certifications Private Limited.</li>
                <li>Team of Highly Qualified & Experienced Faculty including Doctorate Degree Holders.</li>
                <li>15 years of successful journey.</li>
                <li>Institute has Industry-Institute Interface. It has an MOU with Association of Industries Dewas (AID)
                    and
                    recognized as an authorized centre for training.</li>
                <li>The faculty members have developed soft skills training programs and Modules on the Concept of
                    Finishing
                    school.</li>
                <li>Ad-on Spoken English & PD courses.</li>
                <li>Regular Classes with 75% compulsory Attendance.</li>
                <li>Regular Extra Mural Lectures by Executives from Industries.</li>
                <li>Free of cost book from library on returnable basis</li>
                <li>All round development of students through regular seminar, conferences, workshops, Extra Mural
                    Lectures,
                    Management & IT Fest</li>
                <li>Out of class extra support by Faculties to weak students.</li>
                <li>Communication skills & Personality Development for the Programme duration.</li>
                <li>Industrial Visits.</li>
                <li>Summer training.</li>
                <li>Management Learning through Motivational movie.</li>
                <li>Dual Specialization.</li>
                <li>Unique Internal assessment system.</li>
                <li>Studying Commerce at PIMD will develop Financial, communication and problem-solving skills within
                    students.</li>
                <li>Develops students in the area of entrepreneurship and in escalating the corporate rung.</li>
                <li>Provides students with a foundation for the broad range of study and career paths available in
                    commerce
                    and Management after graduating.</li>
                <li>Helps students to enhance their professional ability to learn, and will provide them with the
                    opportunity to develop networks through real-world experiences.</li>
                <li>Ensures our teaching is relevant and valuable to the Industry .</li>
                <li>Provides students with an educational experience that extends beyond academic excellence.</li>
                <li>Will set our students apart from the crowd and prepare them for success in the global marketplace.
                </li>
                <li>Make students proficient at interpreting and using numerical and statistical knowledge.</li>
                <li>Expertise students in the use of conventional accounting processes.</li>
                <li>Teaches students to be ethical while adapting business practices.</li>
                <li>Develops students in the area of entrepreneurship and in escalating the corporate rung.</li>
            </ul>

            <p class="high">Computer Application </p>

            <ul class="cp">
                <li>Students learn not only the subjects of Commerce, but are also been taught to use the accounting
                    software.</li>
                <li>Acquaint the students about the basic programming language.</li>
                <li>Makes students job ready for software industry.</li>
            </ul>



            <p class="high"> Infrastructural Support</p>
            <ul>
                <li>All classrooms are equipped with LCD Projectors.</li>
                <li>Library reference section with 100 student seating
                    capacity.</li>
                <li>Institute has well equipped spacious library with 10036
                    books,reports and monographs.</li>
                <li>Institute possess its e-library, and also has
                    membership of Proquest which provide an access to
                    the database of 450,000 ebooks.</li>
                <li>Subscription of many International and National Journals
                    Hard copy.</li>
                <li>Indoor & Outdoor Sports Facilities.</li>
                <li>Language Lab for refining English Communication.</li>
                <li>Campus is Wi-Fi enabled.</li>
                <li>2 Computer Labs with 150 nos. of PCs with latest configuration and TFT monitors</li>
                <li>It has Consistent Best Placement Records. Placements @ TCS, WIPRO……</li>

            </ul>
        </div>
    </div>
<!-- </body> -->

{% include 'footer.html' %}