{% include 'header.html' %}


<div class="pgm">
    <div class="mca-head M464">
        <div class="programme">
            <h2 class="PR" style="text-align:center">EPRAKSAH - E JOURNAL</h2>
        </div>
        <div class="para">
            <h1>PIMD</h1>
            <h5>EPRAKASH - E JOURNAL </h5>
            <hr>
            <P><b>ePrakash - journal of business Management Information Technology </b></P>
        </div>
        <!-- <p class="why"><B>WHY MBA From PIMD :- </B></p> -->
        <p>You are rquest to submit original Research Papers, Management Cases and Book Reviews for publication in the journal. Exceptionally high quality theoretical and empirical papers in a management and computer application will be considered. Please
            refer the guidelines for submission.
        </p>
        <br>
    </div>
</div>


{% include 'footer.html' %}