{% include 'header.html' %}

<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculty</title>
    <link rel="stylesheet" href="/static/css/programme.css">

</head> -->

<!-- <body class="b02"> -->
<div class="pgm">
    <div class="bca-head M464">
        <div class="programme">
            <h2 class="PR" style="text-align:center">FACULTY</h2>
        </div>
        <div class="para">
            <h5>PIMD</h5>
            <h2>FACULTY</h2>
            <hr>
            <div>
                <table rules="all" class="table-1" id="tb-tab">
                    <tr class="head-tr">
                        <th><strong>Name</strong></th>
                        <th><strong>Qualification</strong></th>
                        <th><strong>Designation</strong></th>
                        <th><strong>Area</strong></th>
                        <th><strong>Email ID</strong></th>
                    </tr>
                    <tbody>
                        <tr class="table-01">
                            <td>Prof.(DR.)Ajit Upadhyaya</td>
                            <td>Ph.D(Marketing) & MBA (Marketing & IT),MSC(Physics)</td>
                            <td>Director</td>
                            <td>Marketing</td>
                            <td>director@pimd.edu.in</td>
                        </tr>
                        <tr class="table-01">
                            <td>Dr. Abhishek Tripathi</td>
                            <td>Ph.D. (Management) & MBA</td>
                            <td>Deputy Director</td>
                            <td>Marketing</td>
                            <td>abhishek@pimd.edu.in</td>
                        </tr>
                        <tr class="table-01">
                            <td>Dr. Ashima Joshi</td>
                            <td>Ph.D, MBA(HR),MBA(Fin.), M.Sc (Org.Chem), M.Sc (Inorg)</td>
                            <td>Sr.Assistant Professor</td>
                            <td>HRM</td>
                            <td>ashima@pimd.edu.in</td>
                        </tr>
                        <tr>
                            <td>Dr. Yogendra Singh </td>
                            <td>Ph.D, MBA, PGDMM,MCA(Hons), B.Sc. </td>
                            <td>Assistant Professor</td>
                            <td>Systems & Marketing </td>
                            <td>yogendra@pimd.edu.in </td>
                        </tr>
                        <tr>
                            <td> Prof. Vikas Sharma </td>
                            <td>Ph.D Pursuing MBA,DIM, PGDMM, MSc(IT), B.Sc. </td>
                            <td>Assistant Professor </td>
                            <td>Systems & Marketing </td>
                            <td>vikas@pimd.edu.in </td>
                        </tr>
                        <tr>
                            <td>Prof. Devendra Pawar</td>
                            <td>Ph.D Pursuing, MBA,Net qualified</td>
                            <td>Assistant Professor </td>
                            <td>Marketing</td>
                            <td>devendra@pimd.edu.in </td>
                        </tr>
                        <tr>
                            <td>Dr. Shweta Pandit </td>
                            <td>Ph.D, MBA, MCM, M.A. (Literature)</td>
                            <td> Assistant Professor</td>
                            <td>HRM </td>
                            <td>shweta@pimd.edu.in </td>
                        </tr>
                        <tr>
                            <td>Prof. Anjali Madhwani </td>
                            <td>Ph.D Pursuing, MMS, Dip in ECCE, BSc (Electronics)</td>
                            <td>Assistant Professor </td>
                            <td>HR & OB </td>
                            <td>anjali@pimd.edu.in </td>
                        </tr>
                        <tr>
                            <td>Prof. Archana Rajpoot </td>
                            <td>Msc (Maths), MBA (HR & Finance)</td>
                            <td>Assistant Professor </td>
                            <td>Maths </td>
                            <td>archana@pimd.edu.in </td>
                        </tr>
                        <tr>
                            <td>Prof. Megha Joshi </td>
                            <td>M.Tech (Computer Science)</td>
                            <td>Assistant Professor </td>
                            <td> Systems </td>
                            <td>megha@pimd.edu.in </td>
                        </tr>
                        <tr>
                            <td>Prof. Kavita Vijay</td>
                            <td>MBA (Finance), MSc (Computer Science) Net Qualified</td>
                            <td>Assistant Professor</td>
                            <td>Finance</td>
                            <td>kavita@pimd.edu.in</td>
                        </tr>
                        <tr>
                            <td>Prof. Arpit Gavshinde</td>
                            <td>MCA,LLB(Pursuing),B.Sc(CS)</td>
                            <td>Assistant Professor </td>
                            <td>Systesms</td>
                            <td>arpit@pimd.edu.in</td>
                        </tr>
                        <tr>
                            <td>Prof. Kajal Khetwani</td>
                            <td>LLM(Pursuing),M.Com,LLB,Bcom,CS(Professional)</td>
                            <td>Assistant Professor </td>
                            <td>Finance & Account</td>
                            <td>kajal@pimd.edu.in</td>
                        </tr>
                        <tr>
                            <td>Prof. Jyotsana Verma</td>
                            <td>Ph.D.(Pursuing),M.B.A(Finance)</td>
                            <td>Assistant Professor</td>
                            <td>Finance</td>
                            <td>jyotsana@pimd.edu.in</td>
                        </tr>
                        <tr>
                            <td>Neelam Naik</td>
                            <td>M.B.A,B.B.A,PGDCA</td>
                            <td>Assistant Professor</td>
                            <td>Finance</td>
                            <td>neelam@pimd.edu.in</td>
                        </tr>
                        <tr>
                            <td>Mr. Harshvardhan Gupta</td>
                            <td>B.E.(I.T.) </td>
                            <td>Placement & Admission Head</td>
                            <td>Admission & Placement</td>
                            <td>placementoffice@pimd.edu.in</td>
                        </tr>
                        <tr>
                            <td>Dr. Sujata Kapale</td>
                            <td>Ph.D, MBA (HRM), BSc (Computer)</td>
                            <td>Visiting Faculty</td>
                            <td>Principle of Management</td>
                            <td>sujat01sk@gmail.com</td>
                        </tr>
                        <tr>
                            <td>Prof. Sunanda Namdeo</td>
                            <td>M.A. Hindi, M.A. Economics, B.Ed, M.Ed</td>
                            <td>Visiting Faculty</td>
                            <td>Hindi & Moral</td>
                            <td>sunandanamdev16@gmail.com</td>
                        </tr>
                        <tr>
                            <td>Prof. Ruchika Khandelwal</td>
                            <td>M.A. English, B.Com</td>
                            <td>Visiting Faculty</td>
                            <td>English</td>
                            <td>ruchika.jasoria1981@gmail.com</td>
                        </tr>
                        <tr>
                            <td>Prof. Neha Choudhary</td>
                            <td>Ph.D.(Pursuing),M.B.A (Finance), M.Com </td>
                            <td>Visiting Faculty</td>
                            <td>IncomeTax Law & Practice, Advance Accounting</td>
                            <td>nehajain9886@gmail.com</td>
                        </tr>
                        <tr>
                            <td>Prof. Anand Soni</td>
                            <td>MCA, BCA</td>
                            <td>Visiting Faculty</td>
                            <td>Mulmedia, Siftware Engineering</td>
                            <td>sonianand86@gmail.com</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>


{% include 'footer.html' %}