{% include 'header.html' %}

<section class="gallery">
     <div class="container-image">
        <div class="gallery-head">
            <h2>Gallery</h2>
        </div>
       
        <div class="gallery-row">
            <div class="gallery-filter">
                <span class="filter-item active" data-filter="all">all</span>
                <span class="filter-item" data-filter="get">Get Together & Utsav_22</span>
                <span class="filter-item" data-filter="day">Republic day 2022</span>
                <span class="filter-item" data-filter="industrial">Industrial</span>
                <span class="filter-item" data-filter="function">Function </span>
                <span class="filter-item" data-filter="dance">Dance</span>
            </div>
        </div>
        <div class="gallery-row">
            <!-- gallery day item start -->
            <div class="gallery-item day">
                <div class="gallery-item-inner">
                    <img class="ig" src="/static/images/img-01.jpg" alt="day01">
                </div>
            </div>
            <div class="gallery-item day">
                <div class="gallery-item-inner">
                    <img class="ig" src="/static/images/img-02.jpg" alt="day02">
                </div>
            </div>
            <div class="gallery-item day">
                <div class="gallery-item-inner">
                    <img class="ig" src="/static/images/img-03.jpg" alt="day03">
                </div>
            </div>

            <div class="gallery-item day">
                <div class="gallery-item-inner">
                    <img class="ig" src="/static/images/img-04.jpg" alt="day04">
                </div>
            </div>
            <div class="gallery-item day">
                <div class="gallery-item-inner">
                    <img class="ig" src="/static/images/img-17.jpg" alt="day05">
                </div>
            </div>
            <div class="gallery-item day">
                <div class="gallery-item-inner">
                    <img class="ig" src="/static/images/img-18.jpg" alt="day06">
                </div>
            </div>


            <!-- gallery day item end -->
            <!-- gallery function item start -->
            <div class="gallery-item function">
                <div class="gallery-item-inner">
                    <img class="ig" src="/static/images/img-05.jpg" alt="function01">
                </div>
            </div>
            <div class="gallery-item function">
                <div class="gallery-item-inner">
                    <img class="ig" src="/static/images/img-06.jpg" alt="function02">
                </div>
            </div>
            <div class="gallery-item function">
                <div class="gallery-item-inner">
                    <img class="ig" src="/static/images/img-07.jpg" alt="function03">
                </div>
            </div>
            <div class="gallery-item function">
                <div class="gallery-item-inner">
                    <img class="ig" src="/static/images/img-08.jpg" alt="function04">
                </div>
            </div>


            <!-- gallery function item end -->
            <!-- gallery Dance item start -->
            <div class="gallery-item dance">
                <div class="gallery-item-inner">
                    <img class="ig" src="/static/images/img-09.jpg" alt="dance01">
                </div>
            </div>
            <div class="gallery-item dance">
                <div class="gallery-item-inner">
                    <img class="ig" src="/static/images/img-10.jpg" alt="dance02">
                </div>
            </div>


            <!-- gallery Dance item end -->
            <!-- gallery get item Start -->
            <div class="gallery-item get">
                <div class="gallery-item-inner">
                    <img class="ig" src="/static/images/img-11.jpg" alt="get01">
                </div>
            </div>
            <div class="gallery-item get">
                <div class="gallery-item-inner">
                    <img class="ig" src="/static/images/img-12.jpg" alt="get02">
                </div>
            </div>
            <div class="gallery-item get">
                <div class="gallery-item-inner">
                    <img class="ig" src="/static/images/img-13.jpg" alt="get03">
                </div>
            </div>
            <div class="gallery-item get">
                <div class="gallery-item-inner">
                    <img class="ig" src="/static/images/img-14.jpg" alt="get04">
                </div>
            </div>

            <div class="gallery-item get">
                <div class="gallery-item-inner">
                    <img class="ig" src="/static/images/img-15.jpg" alt="get05">
                </div>
            </div>

            <div class="gallery-item get">
                <div class="gallery-item-inner">
                    <img class="ig" src="/static/images/img-16.jpg" alt="get06">
                </div>
            </div>
            <div class="gallery-item get">
                <div class="gallery-item-inner">
                    <img class="ig" src="/static/images/utsav-int.jpg" alt="get07">
                </div>
            </div>
            <div class="gallery-item get">
                <div class="gallery-item-inner">
                    <img class="ig" src="/static/images/utsav-22.jpg" alt="get08">
                </div>
            </div>

            <div class="gallery-item get">
                <div class="gallery-item-inner">
                    <img class="ig" src="/static/images/FB_IMG_1647676980958.jpg" alt="get09">
                </div>
            </div>
            <div class="gallery-item get">
                <div class="gallery-item-inner">
                    <img class="ig" src="/static/images/IMG-20220309-WA0005 (1).jpg" alt="get10">
                </div>
            </div>

            <!-- gallery get item end -->
            <!-- gallery visit item Start -->


            <div class="gallery-item industrial">
                <div class="gallery-item-inner">
                    <img class="ig" src="/static/images/img_in-05.jpg" alt="industrial01">
                </div>
            </div>
            <div class="gallery-item industrial">
                <div class="gallery-item-inner">
                    <img class="ig" src="/static/images/img_in-03.jpg" alt="industrial02">
                </div>
            </div>
            <div class="gallery-item industrial">
                <div class="gallery-item-inner">
                    <img class="ig" src="/static/images/img_in-01.jpg" alt="industrial03">
                </div>
            </div>
            <div class="gallery-item industrial">
                <div class="gallery-item-inner">
                    <img class="ig" src="/static/images/img_in-02.jpg" alt="industrial04">
                </div>
            </div>
            <div class="gallery-item industrial">
                <div class="gallery-item-inner">
                    <img class="ig" src="/static/images/img_in-04.jpg" alt="industrial05">
                </div>
            </div>

            <!-- gallery visit item end -->

        </div>
        <div class="popup-image">
            <span>&times;</span>
            <img src="/static/images/img-01.jpg">
        </div>
    </div>
</section>
<script>
    document.querySelectorAll('.container-image img').forEach(image => {
        image.onclick = () => {
            document.querySelector('.popup-image').style.display = 'block';
            document.querySelector('.popup-image img').src = image.getAttribute('src');

        }
    });
    document.querySelector('.popup-image span').onclick = () => {
        document.querySelector('.popup-image').style.display = 'none';
    }
</script>

<script>
    const filterContainer = document.querySelector(".gallery-filter"),
        galleryItems = document.querySelectorAll(".gallery-item");

    filterContainer.addEventListener("click", (event) => {
        if (event.target.classList.contains("filter-item")) {
            // deactivate existing active 'filter-item'
            filterContainer.querySelector(".active").classList.remove("active");
            // activate new 'filter-item'
            event.target.classList.add("active");
            const filterValue = event.target.getAttribute("data-filter");
            galleryItems.forEach((item) => {
                if (item.classList.contains(filterValue) || filterValue === 'all') {
                    item.classList.remove("hide");
                    item.classList.add("show");
                } else {
                    item.classList.remove("show");
                    item.classList.add("hide");
                }
            });
        }
    });
</script>
<!-- </body> -->

{% include 'footer.html' %}