<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIMD</title>
    <link rel="ICON" type="image" href="/static/img/pimd_logo.jpg">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/fontawesome-free-5.15.4-web/css/all.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Fontawesome Icon font -->
    <link rel="stylesheet" href="/static/plugins/themefisher-font/style.css">
    <!-- Magnific popup css -->
    <link rel="stylesheet" href="/static/plugins/magnific-popup/dist/magnific-popup.css">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="/static/plugins/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="/static/plugins/slick-carousel/slick/slick-theme.css">
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="/static/plugins/bootstrap/dist/css/bootstrap.min.css">
    <!-- Animate.css -->
    <link rel="stylesheet" href="/static/plugins/animate-css/animate.css">
    <!-- CSS only -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <!-- <link href="https://raw.githubusercontent.com/daneden/animate.css/master/animate.css" rel="stylesheet"> -->



    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/static/css/style copy.css">
    <link rel="stylesheet" href="/static/css/forms.css">
    <link rel="stylesheet" href="/static/css/programme.css">

    <!-- ******************************************************************************* -->
    <link rel="stylesheet" href="/static/images/fontawesome/css/all.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet"
        href="/static/images/fontawesome/webfonts/fa-brands-400.svg,fa-regular-400.svg,fa-solid-900.svg">
    <!-- https://fontawesome.com/ -->
    {% comment %}
    <link rel="stylesheet" href="/static/images/fontawesome/webfonts/fa-brands-400.svg">
    <!-- https://fontawesome.com/ -->{% endcomment %} {% comment %}
    <link rel="stylesheet" href="/static/images/fontawesome/webfonts/fa-brands-400.svg">
    <!-- https://fontawesome.com/ -->{% endcomment %}
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <!-- https://fonts.google.com/ -->
    <link href="/static/images/css/magnific-popup.min.css" rel="stylesheet">

</head>


<body>
    <div class="container-fluid ct">
        <section class="top-header">
            <header>
                <div class="l">
                    <div class="ad1">
                        <span class="hd">
                            <i class="bi bi-geo-alt"> "PIMD, VIKAS NAGAR, A.B. ROAD, DEWAS"</i>
                        </span>
                    </div>
                    <div class="hd">
                        <i class="bi bi-envelope-fill"> info@pimd.edu.in</i> | <i class="bi bi-telephone">
                            7869912302,7869912367</i>
                    </div>
                    <div class="ln"><span>Follow us on:</span>
                        <a href="https://www.facebook.com/pimdewas/" target="_blank"> <i class="bi bi-facebook"></i></a>
                        <a href="https://twitter.com/pimdewas" target="_blank"><i class="bi bi-twitter"></i></a>
                        <a href="https://in.linkedin.com/school/prestige-institute-of-management-dewas/"
                            target="_blank"><i class="bi bi-linkedin"></i></a>
                        <a href="https://www.instagram.com/pimdewas/" target="_blank"><i
                                class="bi bi-instagram"></i></a>
                    </div>
                    <div class="noty"> <a href="#">TO GET YOUR RESULT CLICK HERE</a></div>
                </div>
            </header>
            <!-- /<section id="md"> -->
            <div class="c1">
                <div class="box1">
                    <div class="cnt1">
                        <a href="http://www.pimd.edu.in/index.aspx">
                            <img src="\static\img\logo.jpg" alt="logo"><br>
                        </a>
                    </div>
                    <span class="lg1"><a href="http://www.pimd.edu.in/pdf/PIMD.pdf" target="_blank">
                            <b> An ISO 9001:2015 Certified Institute</b></a>
                    </span>
                </div>
                <div class="cnt2">
                    <a href="http://www.pimd.edu.in/pdf/PIMD.pdf"></a>
                    <img src="/static/img/Silver Jubilee Logo.jpeg" alt="25 anniversary">

                    <!-- <a href="https://www.icsi.edu/home/" target="_blank" class="st">Authorised study center of ICSI </a> -->
                    <!-- <a href="http://www.pimd.edu.in/images/ARIIA%20Report.pdf" target="_blank" class="st">ARIIA Report</a> -->
                    <a href="{% url 'login' %}" target="_blank" class="st">Studen Corner</a>
                    <a href="{% url 'sign'%}" target="_blank" class="st">Sign Up</a>
                    <!-- <a href="http://www.pimd.edu.in/" target="_blank" class="st">NISP</a> -->
                </div>
            </div>
            <div class="blk noty">
                <marquee>
                    <a href="notify" target="_blank"> Upcoming Event for 12th class Students</a>
                    <a href="noti" target="_blank"> Question paper of MBA-1 Sem Examination - March 2021 </a>
                    <a href="not" target="_blank"> Question paper of MBA-3ND Sem Examination - March 2021 </a>
                </marquee>
            </div>

            <div class="dd">
                <nav>
                    <ul>
                        <li>
                            <a class="ft bi bi-house" href="\"> HOME </a>
                        </li>

                        <li><a class="ft" href="#"><i class="bi-info-lg"></i>ABOUT <i class="bi-caret-down"></i> </a>
                            <ul>
                                <li><a href="{% url 'Institute' %}"> Instition </a></li>
                                <li><a href="{% url 'gallery' %}"> Gallery </a></li>
                                <li><a href="{% url 'welcome' %}">Welcome </a></li>
                            </ul>
                        </li>
                        <li><a class="ft bi-pc" href="#"> PROGRAMMES <i class="bi-caret-down"></i> </a>
                            <ul>
                                <li><a href="{% url 'mba' %}"> M.B.A. </a></li>
                                <li><a href="{% url 'bca' %}"> B.C.A. </a></li>
                                <li><a href="{% url 'bba' %}"> B.B.A. </a></li>
                                <!-- <li><a href="#"> B.Sc(Computer Science) </a></li> -->
                                <li><a href="{% url 'bcomhr' %}"> B.Com(Hons.) </a></li>
                                <li><a href="{% url 'bcom' %}"> B.Com(Computer) </a></li>
                            </ul>
                        </li>
                        <li><a class="ft" href="#"> FACULTY & RESEARCH <i class="bi-caret-down"></i> </a>
                            <ul>
                                <li><a href="{% url 'faculty' %}"> Faculty Profile </a></li>
                                <li><a href="{% url 'pace' %}"> PACE Journal </a></li>
                                <li><a href="{% url 'international' %}"> International Journal </a></li>
                                <li><a href="{% url 'eprakash' %}"> eprakash - E Journal </a></li>
                                <li><a href="#"> Case Monograph </a></li>
                            </ul>
                        </li>
                        <li><a class="ft" href="{% url 'contact' %}"><i class="bi-phone"></i> Contact Us </a></li>
                    </ul>
                </nav>
            </div>
        </section>
    </div>