{% include 'header.html' %}
<div class="container-lg">
    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="mask">
                    <div class="container-hm">
                        <div class="row align-items-center">
                            <div class="col-md-7 col-12 order-md-1 order-2">
                                <h4>Present your <br> awesome product</h4>
                            </div>
                            <div class="slide-img-head"><img src="/static/img2/B1.jpeg" class="mx-auto" alt="slide">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="mask flex-center">
                    <div class="container-hm">
                        <div class="row align-items-center">
                            <!-- <div class="col-md-7 col-12 order-md-1 order-2">
                            <h4>Present your <br>
                            awesome product</h4>
                            <p>Lorem ipsum dolor sit amet. Reprehenderit, qui blanditiis quidem rerum <br>
                            necessitatibus praesentium voluptatum deleniti atque corrupti.</p>
                            <a href="#">BUY NOW</a> </div> -->
                            <div class="slide-img-head"><img src="/static/img2/B2.jpg" class="mx-auto" alt="slide">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="mask flex-center">
                    <div class="container-hm">
                        <div class="row align-items-center">
                        <!-- <div class="col-md-7 col-12 order-md-1 order-2">
                        <h4>Present your <br>
                        awesome product</h4>
                        <p>Lorem ipsum dolor sit amet. Reprehenderit, qui blanditiis quidem rerum <br>
                        necessitatibus praesentium voluptatum deleniti atque corrupti.</p>
                        <a href="#">BUY NOW</a> </div> -->
                            <div class="slide-img-head"><img src="/static/img2/B3.jpg" class="mx-auto" alt="slide">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="mask flex-center">
                    <div class="container-hm">
                        <div class="row align-items-center">
                            <!-- <div class="col-md-7 col-12 order-md-1 order-2">
              <h4>Present your <br>
                awesome product</h4>
              <p>Lorem ipsum dolor sit amet. Reprehenderit, qui blanditiis quidem rerum <br>
                necessitatibus praesentium voluptatum deleniti atque corrupti.</p>
              <a href="#">BUY NOW</a></div>  -->
                            <div class="slide-img-head"><img src="/static/img2/B4.jpg" class="mx-auto" alt="slide">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="mask flex-center">
                    <div class="container-hm">
                        <div class="row align-items-center">
                            <!-- <div class="col-md-7 col-12 order-md-1 order-2">
              <h4>Present your <br>
                awesome product</h4>
              <p>Lorem ipsum dolor sit amet. Reprehenderit, qui blanditiis quidem rerum <br>
                necessitatibus praesentium voluptatum deleniti atque corrupti.</p>
              <a href="#">BUY NOW</a> </div> -->
                            <div class="slide-img-head"><img src="/static/img2/B5.jpg" class="mx-auto" alt="slide">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="mask flex-center">
                    <div class="container-hm">
                        <div class="row align-items-center">
                            <!-- <div class="col-md-7 col-12 order-md-1 order-2">
              <h4>Present your <br>
                awesome product</h4>
              <p>Lorem ipsum dolor sit amet. Reprehenderit, qui blanditiis quidem rerum <br>
                necessitatibus praesentium voluptatum deleniti atque corrupti.</p>
              <a href="#">BUY NOW</a> </div> -->
                            <div class="slide-img-head"><img src="/static/img2/B6.jpg" class="mx-auto" alt="slide">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="mask flex-center">
                    <div class="container-hm">
                        <div class="row align-items-center">
                            <!-- <div class="col-md-7 col-12 order-md-1 order-2">
              <h4>Present your <br>
                awesome product</h4>
              <p>Lorem ipsum dolor sit amet. Reprehenderit, qui blanditiis quidem rerum <br>
                necessitatibus praesentium voluptatum deleniti atque corrupti.</p>
              <a href="#">BUY NOW</a> </div> -->
                            <div class="slide-img-head"><img src="/static/img2/B7.jpg" class="mx-auto" alt="slide">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                $('#myCarousel').carousel({
                    interval: 1500,
                })
            </script>
        </div>
    </div>



    <!-- paragraph -->
    <div class="container-fluid">
        <section id="bd">
            <div class="p2">
                <div class="p3">
                    <div class="one pad">
                        <div class="top">
                            <h1>
                                <img src="/static/img/pimd_logo.jpg" alt="pimd_logo" align="left"
                                    style="margin-top: -12px;"> Prestige Institute of Management Dewas (PIMD)
                            </h1>
                            <br>
                            <p>
                                Prestige Education Society in its endeavor to develop highly skilled human resource
                                established the first management Institute in Indore in 1994. The management Institutes
                                of Gwalior and Mandsaur were established in 1997. In the year 2001 with the permission
                                of AICTE, the Institute of Mandsaur was shifted to Dewas at its permanent site for
                                providing better services, coverage and local penetration.
                            </p>
                            <p class="know_1">
                                <a href="http://www.pimd.edu.in/" class="know">
                                    <em>know more</em>
                                </a>
                            </p>
                            <br>
                            <br>
                            <hr>
                            <div class="courses">
                                <h1>Courses we offer</h1>
                                <p> Prestige Institute of Management Dewas (PIMD) offer wide range of courses</p>
                            </div>
                        </div>

                        <!-- team member -->
                        <div class="col-md-4 col-sm-6 col-xs-12  wow fadeInDown" data-wow-duration="500ms">
                            <div class="team-member">
                                <div class="member-photo">
                                    <!-- member photo -->
                                    <img class="img-responsive" src="/static/img/mba.jpg" alt="mba">
                                    <!-- /member photo -->

                                    <!-- member social profile -->
                                    <div class="mask">
                                        <div class="mask-content">
                                            <p>M.B.A. (Master of Business Administration) a 2 yrs (4 semesters) full
                                                time PG programme.</p>
                                            <a href="{% url 'mba' %}">know more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end team member -->

                        <!-- team member -->
                        <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInDown" data-wow-duration="500ms"
                            data-wow-delay="600ms">
                            <div class="team-member">
                                <div class="member-photo">
                                    <!-- member photo -->
                                    <img class="img-responsive" src="/static/img/bba.jpg" alt="bba">
                                    <!-- /member photo -->

                                    <!-- member social profile -->
                                    <div class="mask">
                                        <div class="mask-content">
                                            <p>BBA (Bachelor of Business Administration) is a 3 yrs Full time UG
                                                programme.
                                            </p>
                                            <a href="{% url 'bba' %}">know more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end team member -->


                        <!-- team member -->
                        <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInDown" data-wow-duration="500ms"
                            data-wow-delay="400ms">
                            <div class="team-member">
                                <div class="member-photo">
                                    <!-- member photo -->
                                    <img class="img-responsive" src="/static/img/bca.png" alt="bca">
                                    <!-- /member photo -->

                                    <!-- member social profile -->
                                    <div class="mask">
                                        <div class="mask-content">
                                            <p> B.C.A. (Bachelor of Computer Application) is a 3 yrs Full time UG
                                                programme.
                                            </p>
                                            <a href="{% url 'bca' %}">know more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end team member -->

                        <!-- team member -->
                        <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInDown" data-wow-duration="500ms"
                            data-wow-delay="400ms">
                            <div class="team-member">
                                <div class="member-photo">
                                    <!-- member photo -->
                                    <img class="img-responsive bh" src="/static/img/B.COM(HONS.).png"
                                        alt="B.COM(Hons.)">
                                    <!-- /member photo -->

                                    <!-- member social profile -->
                                    <div class="mask">
                                        <div class="mask-content">
                                            <p>B.Com (Hons.) is a 3 yrs Full time UG programme.</p>
                                            <a href="{% url 'bcom' %}">know more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end team memb -->


                        <!-- team member -->
                        <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInDown" data-wow-duration="500ms"
                            data-wow-delay="200ms">
                            <div class="team-member">
                                <div class="member-photo">
                                    <!-- member photo -->
                                    <img class="img-responsive" src="/static/img/bcom.jpg" alt="bcom">
                                    <!-- /member photo -->

                                    <!-- member social profile -->
                                    <div class="mask">
                                        <div class="mask-content">
                                            <p class="mask-p">B.Com <br>Computer Application<br> is a 3 yrs Full time
                                                <br>UG programme.
                                            </p>
                                            <a href="{% url 'bcom' %}">know more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end team member -->
                    </div>
                    <div class="two pad">
                        <p class="swayam"
                            style="padding-top: 10px; padding-bottom: 10px; text-align:center; background-color: #035a9f; ">
                            <a class="sy" href="https://www.swayam.gov.in/" target="_blank"
                                style="color: #fff; font: size 18px;">Swayam</a>
                        </p>
                        <h2 class="h22" style="color:#000; font-weight:bold; font-size: 17px; letter-spacing: 1px;">
                            Events & activities</h2>


                        <marquee direction="up" loop="infinity" scrolldelay="150" onmouseover="this.stop();"
                            onmouseout="this.start();" style="max-height: 100%; height: 800px;">
                            <div id="holdlist">
                                <a href="http://www.pimd.edu.in/News.aspx?1" class="news">Industry Visit at
                                    Prestige Agro Tech Limited</a><br><br>
                                <a href="http://www.pimd.edu.in/News.aspx?2" target="_blank" class="news">Poster Making
                                    Competition</a><br><br>
                                <a href="http://www.pimd.edu.in/News.aspx?3" target="_blank" class="news">Solo Dance
                                    Competition</a><br><br>
                                <a href="http://www.pimd.edu.in/News.aspx?4" target="_blank" class="news">Wealth
                                    Awareness Program</a><br><br>
                                <a href="http://www.pimd.edu.in/News.aspx?5" target="_blank" class="news">Student
                                    event</a><br><br>
                                <a href="http://www.pimd.edu.in/News.aspx?10" target="_blank"
                                    class="news">utsav</a><br><br>
                            </div>
                        </marquee>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% include 'footer.html' %}

<!-- < class="b01"> -->