{% include 'header.html' %}


<div class="pgm">
    <div class="bca-head M464 ">
        <div class="programme">
            <h2 class="PR" style="text-align:center">About PIMD</h2>
        </div>
        <div class="about-para">
            <div class="para">
                <h5>WELCOME TO</h5>
                <h2>PIMD</h2>
                <hr>
                <P>Prestige Education Society in its endeavor to develop highly skilled human resource established the first management institute in Indore in 1994. the management institutes of Gwalior and Mandsaur were established in 1997. In 2001 with
                    AICTE permission, the Institute of Mandsaur was shifted to Dewas at its permanent site for better service, coverage and local penetration.</P>
                <p> Prestige Institute of Management Dewas (PIMD) is conceived as a value-based Institution of management and information technology and training. The Institute was launched with the solemn objective of spreading the knowledge based education
                    and develop skilled manpowers beyond the metros, catering to the educational and training needs of large number of young boys and girls irrespective of cast, creed and nationality they belong to.</p>
                <p> The uniqueness of the Institute lies in its provision of on-job training, semester pattern of university examinations, minor/major projects, industrial visits, interactive sessions, training,building cultural values and development of
                    effective overall personalities.</p>
                <p> The Institute is working on the principles of self-financing for all its activities and philanthropic industrialist and chairman of the Prestige Group of Industries, Padma Shree Dr. Nemnath Jain provided much needed initial financial support
                    and guidance.</p>
                <p>The Institute has approval of All India Council for Technical Education and the State Government for its M.B.A. programme and is affiliated to Vikram University Ujjain (for M.B.A., B.B.A. & B.C.A. B.COM Computer Application and B.Com Hons.programmes).
                    It is a fully recognised management and IT institution.</p>
            </div>
            <div class="build"> <img src="/static/images/pimd-building.jpg" alt="institute"></div>
        </div>
    </div>
</div>

<!-- </body> -->

{% include 'footer.html' %}