{% include 'header.html' %}

<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BBA</title>
    <link rel="stylesheet" href="/static/css/programme.css">
</head>

<body> -->
    <div class="pgm">
        <div class="mca-head M464">
            <div class="programme">
                <h2 class="PR" style="text-align:center">INTERNATIONAL JOURNAL</h2>
            </div>
            <div class="para">
                <h5>PIMD</h5>
                <h2>INTERNATIONAL JOURNAL</h2>
                <hr>
                <P>As a part of excllenc, Prestige Institute of Management Dewas is in the process oflaunching an
                    International journal with a view to abreast latest development in the
                    fields of management education and research.</P>
            </div>
            <!-- <p class="why"><B>WHY MBA From PIMD :- </B></p> -->
            <p>
                You are request to submit original Research Papers, Management Cases and Book
                Reviews for publication in the journal, Exceptionall high wuality
                theoretical and emprical papers in management and computer application
                will be considered. Please refer the guidelines for submission.
            </p>

        </div>
    </div>
<!-- </body> -->

{% include 'footer.html' %}