{% include 'header.html' %}

<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mca</title>
    <link rel="stylesheet" href="/static/css/programme.css">
</head>

<body> -->
<div class="pgm">
    <div class="mca-head M464">
        <div class="programme">
            <h2 class="PR" style="text-align:center">MBA PROGRAMME</h2>
        </div>
        <div class="para">
            <h5>PIMD</h5>
            <h2>MBA <i class="fa-thin fa-mobile-button"></i>PROGRAMME</h2>
            <hr>
            <P>M.B.A. (Master of Business Administration) a 2 yrs (4 semesters)
                full time PG programme, Approved by AICTE,New Delhi ,Govt.
                of Madhya Pradesh. and affiliated to Vikram University Ujjain.</P>
        </div>
        <p class="why"><B>WHY MBA From PIMD :- </B>
        <p class="high"> Institute Highlights</p>
        <ul class="list-course" style="list-style-type:circle" color="blue">

            <li>With facilities for independent study and that of group
                centric interaction, presentations,
                Knowledge delivery through Role playing, Simulation case study,
                Management Games, helps student with an insight into
                the multi dimensional necessities of the global economy.</li>
            <li>Gives students the opportunity to think in the direction they want to. The entire classroom
                experience,
                interaction with faculty and peers, student activities, case studies all these may radically change
                student’s perspective, both personally and professionally.</li>
            <li>It is an ISO certified Institution by Accredited by JAS-ANZ [Joint
                Accreditation System of Australia and New Zealand(Accreditation No.
                M464021DIL)] and LMS Certifications Private Limited.</li>

            <li>Institute has Industry-Institute Interface. It has an MOU with Association of Industries Dewas (AID)
                and
                recognized as an authorized centre for training.</li>
            <li>All round development of students through regular seminar, conferences, workshops, Extra Mural
                Lectures,
                Management & IT Fest</li>
            <li>Provides an insight into the tricks & acumen necessary for competent handling of business and
                segments
                constituting it.</li>
            <li>Assists students during Internship which gives immense opportunity to interact and communicate with
                business professionals.</li>
            <li>Institute’s Vicinity in Industrial Belt provides an opportunity to post graduate students to
                correlate
                theory with practical field.</li>


            <li>The faculty members have developed soft skills training programs and Modules on the Concept of
                Finishing school.</li>
            <li>Develops students in the area of entrepreneurship and in escalating the corporate rung.</li>
            <li>Team of Highly Qualified & Experienced Faculty including Doctorate Degree Holders.</li>
            <li>Communication skills & Personality Development for the Programme duration.</li>
            <li>Help sharpen student’s managerial & soft skills necessary for management.</li>
            <li>The Institute is certified
                by International Accreditation Organisation (IAO). </li>
            <li>Regular Extra Mural Lectures by Executives from Industries.</li>
            <li>Out of class extra support by Faculties to weak students.</li>
            <li>Regular Classes with 75% compulsory Attendance.</li>
            <li>Management Learning through Motivational movie.</li>
            <li>Free of cost book from library on returnable basis</li>
            <li>Ad-on Spoken English & PD courses.</li>
            <li>Unique Internal assessment system.</li>
            <li>15 years of successful journey.</li>
            <li>Dual Specialization.</li>
            <li>Industrial Visits.</li>
            <li>Summer training.</li>
        </ul>
        <p class="high"> Infrastructural Support</p>
        <ul>
            <li>Institute possess its e-library, and also has
                membership of Proquest which provide an access to
                the database of 450,000 ebooks.</li>
            <li>Institute has well equipped spacious library with 10036
                books,reports and monographs.</li>
            <li>2 Computer Labs with 150 nos. of PCs with latest configuration and TFT monitors</li>
            <li>It has Consistent Best Placement Records. Placements @ TCS, WIPRO……</li>
            <li>Subscription of many International and National Journals
                Hard copy.</li>
            <li>Library reference section with 100 student seating
                capacity.</li>
            <li>Language Lab for refining English Communication.</li>
            <li>All classrooms are equipped with LCD Projectors.</li>
            <li>Indoor & Outdoor Sports Facilities.</li>
            <li>Campus is Wi-Fi enabled.</li>

        </ul>
    </div>
</div>



{% include 'footer.html' %}