{% include 'header.html' %}


<div class="pgm">
    <div class="mca-head M464">
        <div class="programme">
            <h2 class="PR" style="text-align:center">WELCOME TO PIMD</h2>
        </div>
        <div class="para">
            <h4>PIMD</h4>
            <h5>PACE A JOURNAL OF RESEARCH OF PRESTIGE INSTITUTE OF MANAGEMENT DEWAS </h5>
            <hr>
            <P>Oringinal Research Papers, Management CAses and Book Reviews can be submitted for publication in the journal. Exceotionally high quality theoretical and emoirical papers in a management and computer application will be considered. please refer
                the guidelines for submission.</P>
        </div>
        <!-- </div> -->
        <!-- </div> -->
        <!-- <p class="why"><B>WHY MBA From PIMD :- </B></p> -->
        <div class="pdf">
            <div class="pd01">
                <a class="pace" href="/static/images/pdf/PACE_Vol_1_No_1.pdf" target="_blank">
                    <i class="fas fa-download"></i>PACE VOL 1 NO.1
                </a>
            </div><br>
            <div class="pd01">
                <a class="pace" href="/static/images/pdf/PACE_Vol_2_No_1.pdf" target="_blank">
                    <i class="fas fa-download"></i>PACE VOL 2 NO.1
                </a>
            </div><br>
            <div class="pd01">
                <a class="pace" href="/static/images/pdf/PACE_Vol_3_No_1_2.pdf" target="_blank"><i class="fas fa-download"></i>PACE VOL 3 NO.1 & 2 
                  </a
                > </div><br>
            <div class="pd01">
                <a class="pace" href="/static/images/pdf/PACE_Vol_4_No_1.pdf" target="_blank">
                    <i class="fas fa-download"></i>PACE VOL 4 NO.1       
                </a>
            </div><br>
            <div class="pd01">
                <a class="pace" href="/static/images/pdf/PACE_Vol_4_No_2.pdf" target="_blank">
                    <i class="fas fa-download"></i>PACE VOL 4 NO.2
                </a>
            </div><br>
            <div class="pd01">
                <a class="pace" href="/static/images/pdf/PACE_Vol_5_No_1.pdf" target="_blank">
                    <i class="fas fa-download"></i>PACE VOL 5 NO.1
                </a>
            </div><br>
            <div class="pd01">
                <a class="pace" href="/static/images/pdf/PACE_Vol_5_No_2.pdf" target="_blank">
                    <i class="fas fa-download"></i>PACE VOL 5 NO.2
                </a>
            </div><br>
            <div class="pd01">
                <a class="pace" href="/static/images/pdf/PACE_Vol_6_No_1.pdf" target="_blank">
                    <i class="fas fa-download"></i>PACE VOL 6 NO.1
                </a>
            </div><br>
            <div class="pd01">
                <a class="pace" href="/static/images/pdf/PACE_Vol_6_No_2.2" target="_blank"><i
                     class="fas fa-download"></i>PACE VOL 6 NO.2      
                </a>
            </div><br>
            <div class="pd01">
                <a class="pace" href="/static/images/pdf/PACE_Vol_7_No_1.pdf" target="_blank">
                    <i class="fas fa-download"></i>PACE VOL 7 NO.1
                </a>
            </div><br>
            <div class="pd01">
                <a class="pace" href="/static/images/pdf/PACE_Vol_7_No_2.pdf" target="_blank">
                    <i class="fas fa-download"></i>PACE VOL 7 NO.2
                </a>
            </div><br>
            <div class="pd01">
                <a class="pace" href="/static/images/pdf/PACE_Vol_8_No_1.pdf" target="_blank">
                    <i class="fas fa-download"></i>PACE VOL 8 NO.1
                </a>
            </div><br>
            <div class="pd01">
                <a class="pace" href="/static/images/pdf/PACE_Vol_9_No_1.pdf" target="_blank">
                    <i class="fas fa-download"></i>PACE VOL 9 NO.1
                </a>
            </div><br>
        </div>
        <br>
    </div>
</div>




{% include 'footer.html' %}