{% include 'header.html' %}


<div class="pgm">
    <div class="mca-head M464">
        <div class="programme">
            <h2 class="PR" style="text-align:center">WELCOME TO PIMD</h2>
        </div>
        <div class="para">
            <h5>WELCOME TO </h5>
            <h1>PIMD</h1>
            <hr class="hr">
            <P>As a part of excllence, Prestige Institute of Management Dewas is in the process of launching an International journal with a view to abreast latest development in the fields of management education and research.</P>
        </div>
        <!-- <p class="why"><B>WHY MBA From PIMD :- </B></p> -->
        <p>
            You are request to submit original Research Papers, Management Cases and Book Reviews for publication in the journal, Exceptionall high wuality theoretical and emprical papers in management and computer application will be considered. Please refer the
            guidelines for submission.
        </p>
        <br>
    </div>
</div>


{% include 'footer.html' %}